<div class="flex items-center justify-between h-20 bg-red-900 text-white">
  <div>
    <img src="logo.PNG" alt="" width="300" height="70" class="cursor-pointer" routerLink="">
  </div>
  <div>
    <nav class="navbar">
      <ul class="flex m-3">
        <li class="mr-14 cursor-pointer" routerLink="" routerLinkActive="active-link"
          [routerLinkActiveOptions]={exact:true}>
          Home
        </li>
        <li class="mr-14 cursor-pointer" routerLink="/browse-jobs" routerLinkActive="active-link"
          [routerLinkActiveOptions]={exact:true}>
          Browse Jobs</li>
        <li class="mr-14 cursor-pointer" routerLink="/post-jobs" routerLinkActive="active-link"
          [routerLinkActiveOptions]={exact:true}>
          Post Job</li>
      </ul>
    </nav>
  </div>
  <div class="flex items-center space-x-4 mr-4">
    <div class="bg-red-950 border-none p-2 w-28 text-center text-white rounded-sm cursor-pointer">
      <button>Login</button>
    </div>
    <div class="bg-transparent p-2 w-28 text-center text-white" routerLink="/sign-up">
      <button>Sign up</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>