<div
  *ngIf="showNavbar"
  class=" h-20 bg-red-900 text-white content-center"
>
  <div class="w-[80%] flex items-center justify-between mx-auto">
    <div >
      <img
        src="./assets/logo.png"
        alt=""
        width="300"
        height="70"
        class="cursor-pointer"
        routerLink=""
      />
    </div>
    <div>
      <nav class="navbar">
        <ul class="flex m-3">
          <li
            class="mr-14 cursor-pointer"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </li>
          <li
            class="mr-14 cursor-pointer"
            routerLink="/about-us"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            About
          </li>
          <li
            class="mr-14 cursor-pointer"
            routerLink="/browsejobs"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Browse Jobs
          </li>
          <li
            class="mr-14 cursor-pointer"
            routerLink="/postjobs"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Post Job
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex items-center space-x-4">
      <div
        class="bg-red-950 border-none p-2 w-28 text-center text-white rounded-sm cursor-pointer"
        routerLink="/login"
      >
        <button>Login</button>
      </div>
      <div
        class="bg-transparent p-2 w-28 text-center text-white"
        routerLink="/signup"
      >
        <button>Sign up</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
