<div class="h-16 bg-gray-200">
    <div class=" w-[80%] mx-auto flex justify-between items-center py-5">
        <div class="ml-2">
            <p class="font-bold">Browse jobs</p>
        </div>
        <div class="mr-7">
            <p>Home  / <span class="font-bold"> Browse jobs</span></p>
        </div>
    </div>
</div>

<section class="w-full">
    <div class="w-[80%] mx-auto">
        <div
          class="flex items-center mt-10 shadow-md border border-gray-200 p-3"
        >
          <span class="mr-5">
            <img src="../assets/search.png" alt="" width="20" />
          </span>
          <div class="w-full mr-5">
            <input
              type="text"
              placeholder="Search by: Job title, Keywords..."
              class="outline-none p-2 w-full"
            />
          </div>
          <div
            class="p-2 w-32 text-center relative bg-gray-200 font-bold mr-4 h-10"
          >
            <button>Filters</button>
          </div>
          <div
            class="bg-red-800 p-2 w-32 text-center relative text-white h-10 font-bold"
          >
            <button>Find Job</button>
          </div>
        </div>
    </div>
</section>