<div class="flex h-[60vh] mb-20 bg-gray-100">
  <div class="flex w-[80%] mx-auto">
    <div class="w-1/2">
      <div class="w-[80%]">
        <div class="relative top-32">
          <h1 class="font-normal text-4xl">{{ homeHeading }}</h1>
        </div>
        <div class="relative top-36">
          <p class="font-light">{{ homePara }}</p>
          <p class="italic mt-5 float-end mr-10 font-extralight">
            - {{ homeSlogan }}
          </p>
        </div>
        <div
          class="flex items-center w-[90%] relative top-48 p-3 shadow-2xl"
        >
          <span class="mr-5">
            <img src="../assets/search.png" alt="" width="20" />
          </span>
          <div class="w-[65%]">
            <input
              type="text"
              placeholder="Job title, Keyword..."
              class="outline-none p-2 w-full bg-gray-100"
            />
          </div>
          <div
            class="bg-red-800 p-2 w-32 text-center relative sm:left-6 lg:left-2 text-white h-10"
          >
            <button>Find Job</button>
          </div>
        </div>
        <div class="relative top-52 mt-5">
          <span class="font-bold">Suggestions: </span>
          <span class="font-light"
            >Frontend Developer,
            <span class="text-red-900 font-semibold">.NET Developer</span>, Dotnet
            Developer, Backend Developer, etc</span
          >
        </div>
      </div>

      </div>
    <div class="w-1/2 mr-16">
      <img src="./assets/home 1.png" alt="home" />
    </div>

  </div>
  <hr />
</div>

<section class="mb-7 w-[80%] mx-auto">
  <div class="mt-10">
    <div>
      <div class="flex items-center justify-center">
        <h1 class="font-normal text-3xl mx-2">{{ jobsProvided }}</h1>
        <img src="./assets/code.png" alt="" width="60" />
        <p class="text-3xl font-bold ml-2">?</p>
      </div>
      <div class="text-center">
        <p class="font-light">
          Don't worry we've got all jobs that matches your skills
        </p>
      </div>
    </div>
    <div class="flex justify-evenly items-center mx-5 my-16">
      <div>
        <img src="./assets/dotnet.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/angular.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/java.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/react.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/database.png" alt="" width="60" />
      </div>
      <div>
        <img src="./assets/python.png" alt="" width="70" />
      </div>
      <div class="-ml-16">
        <p class="font-bold">& many more</p>
      </div>
    </div>
  </div>
</section>
<hr />


<section class="bg-gray-100 p-16 w-full">
  <div class="w-[80%] text-center mx-auto">
    <div>
      <h1 class="text-3xl font-bold text-center p-5 mb-12">How <span class="font-bold text-red-900">career dev</span> works for candidate?</h1>
    </div>
    <div class="relative">
      <div class="absolute top-10 left-[18%]">
        <img src="./assets/arrowright.png" alt="" width="230" class="-rotate-12">
      </div>
      <div class="absolute top-12 left-[42%]">
        <img src="./assets/arrow-curve-right.png" alt="" width="230" >
      </div>
      <div class="absolute top-10 left-[67%]">
        <img src="./assets/arrowright.png" alt="" width="230" class="-rotate-12">
      </div>
    </div>

    
    <div class="flex flex-row space-x-20 mb-5 p-10 items-start">
      <div class="flex flex-col items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/add-user.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Create an account</p>
        <p>Register yourself first with your necessary data</p>
      </div>
      <div class="flex flex-col items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/db.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Upload CV/Resume</p>
        <p >Upload your CV or Resume for additional insights to your backgound</p>
      </div>
      <div class="flex flex-col items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/search.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Find a job</p>
        <p>Find the job that aligns with your skills</p>
      </div>
      <div class="flex flex-col items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/check-button.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Apply</p>
        <p>Apply for the jobs that you may find suitable</p>
      </div>
    </div>

  </div>
</section>

<section class="w-full">
  <div class="w-[80%] mx-auto p-10">
    <h2 class="mt-10 mb-10 text-center text-3xl font-bold">Our Popular Category</h2>
    <div class="grid grid-cols-4 gap-16 m-6 text-center">
      <div class="p-4 font-bold bg-red-900 text-white rounded-e-full shadow-lg">Frontend Developer</div>
      <div class="p-4 font-bold bg-red-900 text-white rounded-e-full">Backend Developer</div>
      <div class="p-4 font-bold bg-red-900 text-white rounded-e-full">Full Stack Developer</div>
      <div class="p-4 font-bold bg-red-900 text-white rounded-e-full">.NET Developer</div>
    </div>
    <div class="grid grid-cols-4 gap-16 m-6 text-center">
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">Java Developer</div>
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">ReactJs Developer</div>
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">Angular Developer</div>
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">Data Analysts</div>
    </div>
    <div class="grid grid-cols-4 gap-16 m-6 text-center">
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full" >Database Administrator</div>
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">Python Developer</div>
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">Application Developer</div>
      <div class=" p-4 font-bold bg-red-900 text-white rounded-e-full">Quality Assurance</div>
    </div>
  </div>
</section>
<hr />

<section class="bg-gray-100 p-16 w-full">
  <div class="w-[80%] text-center mx-auto">
    <div>
      <h1 class="text-3xl font-bold text-center p-5 mb-16">How <span class="font-bold text-red-900">career dev</span> works for employer?</h1>
    </div>
    <div class="relative">
      <div class="absolute -top-4 left-[23%]">
        <img src="./assets/arrowdown.png" alt="" width="100" class="-rotate-12">
      </div>
      <div class="absolute top-36 left-[49%]">
        <img src="./assets/arrowup.png" alt="" width="130" class="rotate-12">
      </div>
      <div class="absolute left-[73%]">
        <img src="./assets/arrowdown.png" alt="" width="100" class="-rotate-12">
      </div>
    </div>

    
    <div class="flex flex-row space-x-20 mb-14 p-10 items-start">
      <div class="flex flex-col relative -top-20 items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/add-user.png" alt="" width="30" >
        </div>
        <p class=" font-bold mb-2 text-red-950 text-[20px]">Create an account</p>
        <p>Register yourself first with your necessary data</p>
      </div>
      <div class="flex flex-col relative top-20 items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/db.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Post Job</p>
        <p >Post the job so that candidates can apply</p>
      </div>
      <div class="flex flex-col relative -top-20 items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/search.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Shortlist Candidates</p>
        <p>Shortlist the candidates who applied for your job posting</p>
      </div>
      <div class="flex flex-col relative top-20 items-center w-1/4">
        <div class="p-5 rounded-full bg-white">
          <img src="./assets/check-button.png" alt="" width="30" >
        </div>
        <p class=" font-bold mt-8 mb-2 text-red-950 text-[20px]">Hire Candidates</p>
        <p>Get to know your candidates with their profile and hire them.</p>
      </div>
    </div>

  </div>
</section>




<section class="my-20">
  <div class="mb-10 text-center">
    <h1 class="text-3xl font-bold mb-4">Wanna Join Us?</h1>
    <p class="font-light">
      Register yourself as a candidate or an employer and move on with us.
    </p>
  </div>
  <div class="w-full flex justify-center space-x-20 items-center">
    <div
      class="border-2 border-gray-200 p-10 w-1/4 h-120 rounded-3xl background-container"
    >
      <div class="m-3">
        <h3 class="text-3xl font-bold">Become a Candidate</h3>
      </div>
      <div class="m-3">
        <p>Are you a candidate, looking for a job?</p>
      </div>
      <div
        class="bg-red-800 p-2 w-28 text-center text-white mx-3 mt-10"
        routerLink="/signup"
      >
        <button>Register Now</button>
      </div>
    </div>
    <div
      class="border-2 border-gray-200 p-10 w-1/4 image-container rounded-3xl"
    >
      <div class="m-3">
        <h3 class="text-3xl font-bold text-white">Become an Employer</h3>
      </div>
      <div class="m-3">
        <p class="text-white">Are you an employer, looking to hire?</p>
      </div>
      <div class="bg-red-800 p-2 w-28 text-center text-white mx-3 mt-10">
        <button routerLink="/signup">Register Now</button>
      </div>
    </div>
  </div>
</section>

<!-- ------------------------------------FOOTER SECTION--------------------------------- -->
<footer class="bg-red-900 h-[40vh]">
  <div class="w-[80%] mx-auto">
    <div class="flex justify-around items-start pt-16 text-white h-[32vh]">
      <!-- Logo and Contact Info -->
      <div class="flex flex-col items-start">
        <img src="./assets/logo.png" alt="" width="400" />
        <div class="text-gray-300 mt-5 ml-5">
          <p>Call now: <span class="font-bold">+977 9825413699</span></p>
          <p>DurbarMarg, Kathmandu, 44600</p>
        </div>
      </div>
  
      <!-- Quick Links -->
      <div class="flex flex-col items-start">
        <h3 class="text-[20px] font-bold mb-5">Quick Link</h3>
        <div class="text-gray-300 flex flex-col gap-y-2">
          <p class="cursor-pointer">About</p>
          <p class="cursor-pointer">Contact</p>
        </div>
      </div>
  
      <!-- Candidates Section -->
      <div class="flex flex-col items-start">
        <h3 class="text-[20px] font-bold mb-5">Candidates</h3>
        <div class="text-gray-300 flex flex-col gap-y-2">
          <p class="cursor-pointer">Candidate Dashboard</p>
          <p class="cursor-pointer" routerLink="/browsejobs" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>Browse Jobs</p>
          <p class="cursor-pointer">Applied Jobs</p>
          <p class="cursor-pointer">Saved Jobs</p>
        </div>
      </div>
  
      <!-- Employers Section -->
      <div class="flex flex-col items-start">
        <h3 class="text-[20px] font-bold mb-5">Employers</h3>
        <div class="text-gray-300 flex flex-col gap-y-2">
          <p class="cursor-pointer">Employers Dashboard</p>
          <p class="cursor-pointer" routerLink="/postjobs" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}>Post Job</p>
          <p class="cursor-pointer">Saved Candidates</p>
          <p class="cursor-pointer">Posted Jobs</p>
        </div>
      </div>
  
      <!-- Support Section -->
      <div class="flex flex-col items-start">
        <h3 class="text-[20px] font-bold mb-5">Support</h3>
        <div class="text-gray-300 flex flex-col gap-y-2">
          <p class="cursor-pointer">FAQs</p>
          <p class="cursor-pointer" routerLink="/notfound">Privacy Policy</p>
          <p class="cursor-pointer">Terms & Conditions</p>
        </div>
      </div>
    </div>
    <hr />
    <div class="flex items-center justify-between p-5 ml-24 text-gray-300">
      <div>
        <p>&copy; career dev - Job Portal Application. All rights reserved.</p>
      </div>
      <div class="flex items-center justify-around mr-16 mt-1">
        <div class=" mr-7 hover:scale-125 transition">
          <img src="./assets/facebook.png" alt="" width="27">
        </div>
        <div class=" mr-7 hover:scale-125 transition">
          <img src="./assets/instagram.png" alt="" width="27">
        </div>
        <div class=" mr-7 hover:scale-125 transition">
          <img src="./assets/linkedin.png" alt="" width="27">
        </div>
      </div>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>

<!-- <div class="text-[4rem] font-bold text-black -rotate-90 absolute -left-[12%] top-[45%]">
    Welcome to Career Dev
  </div> -->
